<html>
<head></head>
<style>
body {background-color: powderblue;}
</style></body>
<div class="jumbotron">
  <h1 class="display-4">Social Media</h1>
 <marquee width="60%" direction="right" height="100px">
  <p class="lead">.....Welcome to Social media......</p>
  </marquee>
  </div>

</div>
</html>

